<div id="wrapper">
  <div class="header bg-gradient-warning py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="">
            <h1 class="text-white display-1"><b>Proposal Form</b></h1>
            <h2 class="text-white display-3">For Individual Healthcare Practitioners</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- INFORMATION -->
  <div class="container mt--8 pb-5">
    <div class="justify-content-center">
      <div class="col-lg-12 col-md-7">
        <div class="row mb-3">
          <h1><b>Important Notices to the Applicants</b></h1>
          <div class="col-lg-8 mb-3">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="container text-justify">
                  <h1>Your Duty of Disclosure</h1>
                  <div class="mb-4">
                    <span>
                      Before you enter into a contract of general Takaful with the Takaful Operator, you have a
                      duty to disclose to the Takaful Operator every matter within your knowledge that is
                      material to the Takaful Operator’s decision whether to accept the risk of the Takaful and,
                      if so, on what terms.
                    </span>
                  </div>
                  <div class="mb-4">
                    <span>
                      You have the same duty to disclose those matters to the Takaful Operator before you
                      renew, extend, vary or reinstate a contract of general Takaful. Your duty of disclosure continues
                      after the application has been completed up until the contract of Takaful is entered into.
                    </span>
                  </div>
                  <div>
                    <span>
                      It is important that all information contained in this application is understood by you
                      and is correct, as you will be bound by your answers and by the information provided by
                      you in this application. You should obtain advice before you sign this applicaton if you
                      do not properly understand any part of it.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-4">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="container text-justify">
                  <h1>Non-Disclosure</h1>
                  <div class="mb-4">
                    <span>
                      If you fail to comply with your duty of disclosure, the Takaful Operator may have the
                      option of avoiding the contract of Takaful from its beginning.
                    </span>
                  </div>
                  <div>
                    <span>
                      If your non-disclosure is fraudulent, the Takaful Operator may also have the right to
                      keep the premium that you have paid.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 mb-3">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="container">
                  <h1>Change of Risk or Circumstances</h1>
                  <div class="text-justify">
                    <span>
                      You should advise STMB as soon as practicable of any change to your normal business as
                      disclosed in this application, such as changes in business activities, location, acquisitions
                      and new overseas activities.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="card bg-secondary shadow border-0">
              <div class="card-body px-lg-5 py-lg-5">
                <div class="container">
                  <h1>Subrogation</h1>
                  <div class="text-justify">
                    <span>
                      Where you have agreed with another person or company ( who would otherwise be liable
                      to compensate you for any loss or damage which is covered by the contract of Takaful)
                      that you will not seek to recover such loss or damage from that person, STMB will not
                      cover you, to the extent permitted by law, for such loss or damage.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /INFORMATION -->
  <div class="container text-right">
    <button type="button" class="btn btn-warning" (click)="gotoApplyForm()">Next</button>
  </div>
</div>