<div id="wrapper">
  <div class="header bg-gradient-info py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white display-1"><b>Info for Medical Practitioners</b></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <!-- INFO -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-7">
        <div class="card card-lift--hover bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="container text-justify">
              <div class="row">
                <h3 class="mb-5">
                  To all Medical Practitioners,
                </h3>
                <h3 class="mb-4">
                  The healthcare and medical landscape is ever changing. The advancement of science and
                  medicine has certainly paved to countless new treatment and healthcare services. With the ever
                  increasing demand for better healthcare, medical practitioners are also exposed to medical
                  negligence and therefore faced with the challenges of protecting themselves against this
                  exposure.
                </h3>
                <h3 class="mb-4">
                  Medical negligence or publicly known as medical malpractice, refers to failure to deliver the
                  proper standard of care in the treatment of a patient, by accident or oversight or incompetence
                  or a combination of two or more of these elements, resulting in death or injury or disability to
                  the patient.
                </h3>
                <h3 class="mb-4">
                  Defending those claims are not only time consuming, costly and stressful, it can also taint the
                  reputation of medal practitioners. Recognizing the need for medical practitioners to protect their
                  career against malpractice exposures, Takaful Malaysia is proud to announce our new and
                  innovative Medical Malpractice Takaful product, a solution for healthcare practitioners.
                </h3>
                <h3 class="mb-5">
                  In this product, each medical practitioner will now have a truly comprehensive yet transportable
                  cover designed to defend against allegations of medical negligence which all too often can arise
                  when providing professional healthcare services.
                </h3>
                <h3 class="mb-5">
                  Enclosed our product brochure which we trust you will find it informative.
                </h3>
                <h3>
                  For more information and assistance, please feel free to contact our Customer Service at
                  1-300 88 252 385 or email us at <a href="javascript:void(0)"
                    (click)="mailto()">csu@takaful-malaysia.com.my</a> or any or our
                  registered
                  agent.
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /INFO -->
</div>