<div class="main-content">
  <!-- Top navbar -->
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <img class="navbar-brand" src="assets/img/logo-white.png" />
      <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
        aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <img src="assets/img/logo.png">
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navbar items -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(1)">
              <i class="fas fa-home"></i>
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(2)">
              <i class="fas fa-calculator"></i>
              <span class="nav-link-inner--text">Calculator</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(3)">
              <i class="ni ni-single-copy-04"></i>
              <span class="nav-link-inner--text">Apply</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(4)">
              <i class="ni ni-books"></i>
              <span class="nav-link-inner--text">Info</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Pages -->
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }} MBA Al Fateh Services
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(1)">
              <i class="fas fa-home"></i>
              <span class="nav-link-inner--text"> Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(2)">
              <i class="fas fa-calculator"></i>
              <span class="nav-link-inner--text"> Calculator</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(3)">
              <i class="ni ni-single-copy-04"></i>
              <span class="nav-link-inner--text"> Apply</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(4)">
              <i class="ni ni-books"></i>
              <span class="nav-link-inner--text"> Info</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link nav-link-icon" (click)="goto(5)">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text"> Admin</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>