<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/profile-cover0.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-white display-1 text-center"><b>MBA ALFATEH SERVICES</b></h1>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- ABOUT -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-7">
      <div class="card card-lift--hover bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-4 mb-3">
            <h1 class="display-2"><b>Medical Malpractice Takaful</b></h1>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="container text-justify">
            <div class="row">
              <div class="col-xl-6 col-lg-12 mb-4">
                <span>
                  A specially designed product that provide individual medical practitioners with
                  financial relief in the event of medical malpractice liability claims. The certificate offers a suite
                  of professional liability takaful solutions that addresses today’s complex healthcare industry.
                </span>
              </div>
              <div class="col-xl-6 col-lg-12">
                <span>
                  With advancements in science and the ever changing healthcare landscape, it has never been more
                  important for healthcare practitioners to protect their professional and reputational risks with
                  Medical Malpractice Takaful.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ABOUT -->

<div class="container mt-3">
  <div class="col-lg-12">
    <div class="text-center">
      <h1 class="text-white display-2">
        <b>
          Check Medical Status Price
          <button (click)="gotoCalculator()" ngbTooltip="Click here to check medical status price"
            class="btn btn-icon icon icon-lg icon-shape bg-gradient-warning shadow rounded-circle text-white">
            <i class="fas fa-calculator"></i>
          </button>
        </b>
      </h1>
    </div>
  </div>
</div>

<!-- COVERAGE -->
<div class="container mt--8 pb-5 mt-6">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-7">
      <div class="card card-lift--hover bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-4 mb-3">
            <h1 class="display-2"><b>Coverage Highlight</b></h1>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="container text-center">
            <div class="row">
              <div class="col-xl-4 col-lg-12 mt-4 mb-4">
                <h1 class="display-1 text-info">
                  <i class="ni ni-istanbul"></i>
                </h1>
                <h3>Shariah compliant indemnity plan</h3>
              </div>
              <div class="col-xl-4 col-lg-12 mt-4 mb-4">
                <h1 class="display-1 text-success">
                  <i class="ni ni-check-bold"></i>
                </h1>
                <h3>Comprehensive cover</h3>
              </div>
              <div class="col-xl-4 col-lg-12 mt-4 mb-4">
                <h1 class="display-1 text-warning">
                  <i class="ni ni-book-bookmark"></i>
                </h1>
                <h3>Specialized underwriters</h3>
              </div>
              <div class="col-xl-4 col-lg-12 mt-4 mb-4">
                <h1 class="display-1 text-primary">
                  <i class="ni ni-satisfied"></i>
                </h1>
                <h3>Efficient claim personnel</h3>
              </div>
              <div class="col-xl-4 col-lg-12 mt-4 mb-4">
                <h1 class="display-1 text-danger">
                  <i class="ni ni-paper-diploma"></i>
                </h1>
                <h3>Experienced lawyers</h3>
              </div>
              <div class="col-xl-4 col-lg-12 mt-4 mb-4">
                <h1 class="display-1 text-yellow">
                  <i class="ni ni-like-2"></i>
                </h1>
                <h3>Easy access to marketing team</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /COVERAGE -->

<!-- FEATURES -->
<div class="header bg-gradient-danger pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body">
      <div class=" pb-5">
        <h1 class="display-2 text-white text-center"><b>Salient Features</b></h1>
      </div>
      <!-- Card stats -->
      <div class="row">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic1,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Full Retrospective Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic1 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Full Retrospective Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Full Retrospective cover for Participant who currently has similar and uninterrupted cover.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic2,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Unlimited Run Off Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic2 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Unlimited Run Off Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Unlimited Run Off cover with structured additional contribution.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic3,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Medical Incident Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic3 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Medical Incident Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Medical Incident cover for loss resulting from a medical incident by the Participant in the
                        provision of healthcare services
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic9,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Loss of Documents Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic9 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Loss of Documents Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Loss of Documents cover for any loss resulting from a claim for the loss of, damage to or
                        destruction of documents for which the Participant is legally responsible in the provision of
                        Professional Healthcare.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic5,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Vicarious Liability Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic5 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Vicarious Liability Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Vicarious liability cover arising from any act, error or omission of any locum doctor covering
                        the duties of the Participant in the provision of professional healthcare services for which the
                        Participant is legally liable.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic6,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Good Samaritan Acts Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic6 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Good Samaritan Acts Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Good Samaritan Acts cover for any loss resulting from a Claim or Inquiry arising from the
                        provision of emergency first aid services.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic7,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Defamation Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic7 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Defamation Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Defamation cover for any loss resulting from a claim for unintentional defamation by the
                        Participant in the provision of professional healthcare services.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3 mb-5">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic4,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Legal representation at Inquiry Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic4 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Legal representation at Inquiry Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Legal representation at inquiry cover (up to certain sub-limit) incurred directly or in
                        connection with Participant co-operating with an inquiry.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic12,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Cyber and Privacy Infringement Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic12 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Cyber and Privacy Infringement Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Cyber and Privacy Infringement cover for any loss resulting from a claim or an Inquiry for any
                        unintentional Cyber and Privacy Infringement by the Participant in the provision of professional
                        healthcare services.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic8,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Intellectual Property Infringement Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic8 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Intellectual Property Infringement Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Intellectual Property Infringement cover for any loss resulting from a claim for unintentional
                        infringement of any intellectual property right (other than patent right) by the Participant in
                        the provision of Professional Healthcare Services.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic10,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Emergency Defence and Legal Representation Expenses Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic10 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Emergency Defence and Legal Representation
                          Expenses Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Emergency Defence Costs and Legal Representation Expenses cover, in the event it is not possible
                        for the Participant to obtain underwriter’s written consent prior to the incurring of defence
                        costs or legal representation expenses.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-3">
                  <div class="card card-lift--hover shadow border-0 text-center">
                    <a href="javascript:void(0)" (click)="open(classic11,'' , '')">
                      <div class="card-body py-5">
                        <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                          <i class="ni ni-check-bold"></i>
                        </div>
                        <h5 class="text-default text-uppercase">
                          Advancement of Defence and Legal Representation Expenses Cover
                        </h5>
                      </div>
                    </a>
                  </div>
                  <ng-template #classic11 let-c="close" let-d="dismiss">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal-title-default">Advancement of Defence and Legal Representation
                          Expenses Cover</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                          (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Advancement of Defence Costs and Legal Representation Expenses cover within 30 days of receipt
                        and approval of an invoice for such defence costs or legal representation expenses.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                          (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /FEATURES -->

<!-- CONTACT -->
<div class="container mt--8 mt-6">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-7">
      <div class="text-muted text-center mt-3 mb-6">
        <h1 class="display-2 text-white"><b>Contact</b></h1>
      </div>
      <div class="container text-center mb-5">
        <div class="row">
          <div class="col-xl-4 col-lg-12 mb-3 card-lift--hover">
            <button (click)="open(address,'' , '')" ngbTooltip="Address"
              class="btn btn-icon icon icon-lg icon-shape bg-gradient-danger shadow rounded-circle text-white">
              <i class="fas fa-map-marker-alt"></i>
            </button>
            <ng-template #address let-c="close" let-d="dismiss">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-title-default">Address</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{about.address}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-dismiss="modal"
                    (click)="c('Close click')">Close</button>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="col-xl-4 col-lg-12 mb-3 card-lift--hover">
            <button (click)="open(call,'' , '')" ngbTooltip="Call"
              class="btn btn-icon icon icon-lg icon-shape bg-gradient-warning shadow rounded-circle text-white">
              <i class="fas fa-phone"></i>
            </button>
            <ng-template #call let-c="close" let-d="dismiss">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-title-default">Call</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{about.phone}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-dismiss="modal"
                    (click)="c('Close click')">Close</button>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="col-xl-4 col-lg-12 mb-3 card-lift--hover">
            <button (click)="gotoWeb()" ngbTooltip="http://www.takaful-malaysia.com.my"
              class="btn btn-icon icon icon-lg icon-shape bg-gradient-yellow shadow rounded-circle text-white">
              <i class="fas fa-laptop"></i>
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-4 mb-3 card-lift--hover">
            <button (click)="mailto()" ngbTooltip="{{about.email}}"
              class="btn btn-icon icon icon-lg icon-shape bg-gradient-success shadow rounded-circle text-white">
              <i class="fas fa-envelope"></i>
            </button>
          </div>
          <div class="col-sm-4 mb-3 card-lift--hover">
            <button (click)="gotoFb(about.link1)" ngbTooltip="{{about.link1}}"
              class="btn btn-icon icon icon-lg icon-shape bg-gradient-primary shadow rounded-circle text-white">
              <i class="fab fa-facebook-f"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /CONTACT -->